body {
	margin: 0;
	padding: 0;
	font-family: 'Cuprum','PT Sans', sans-serif;
	font-size:17px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: normal;
	color: #ffffff;
	background-color: #ffffff;
	text-align: left;
}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
.site-navigation,
.company-navigation,
.product-navigation,
.social-links,
.catalog-items,
.catalog-navigation,
.user-interface,
.transport-companies,
.account-actions {
	list-style: none;
}
a {
    text-decoration: none;
}
.top-menu a,
.site-navigation a,
.company-navigation a{
	color: #ffffff;
}
.login a,
.registration a{
	color: #000000;
}
.product-navigation a,
.feedback a {
	color:#ffd180;
}
@font-face{
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    src:url(../Cuprum/Cuprum-Regular.ttf);
}
@font-face{
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    src:url(../ptsans/PTS55F.ttf);
}
/*Хедер*/
.main-header{
	background-color: #f4f7f9;
}
/*Верхнее меню*/
.top-menu {
    display: flex;
    justify-content: center;
    height:42px;
	background-color: #293449;
	line-height: 1.06;
    margin-bottom:46px;
}
.header-logo {
	display: inline-block;
    width: 220px;
    height: 47px;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    background-color:#ee3643;
}
.header-logo img {
	width: 109px;
    height: 19px;	
    padding:13px 56px 15px 55px;

}
.header-logo:hover,
.header-logo:focus,
.footer-logo:hover,
.footer-logo:focus{
	background-color:#ca2c37;
}
.header-logo:active,
.footer-logo:active{
	background-color: #ba2732;
}
.search-button{
    background-color: rgba(255,255,255,0);
    border: none;
    position: absolute;
    left: 17px;
    top: 64px;
    padding: 0;
    cursor: pointer;
}
.site-search input{
	width: 270px;
    height: 42px;
    background-color: rgba(29,34,49,0);
    border: none;
    padding:0 0 0 49px;
}
.site-search input[type="text"]::-webkit-input-placeholder {
    color: #ffffff;
   } 
.site-search input[type="text"]::-moz-placeholder {
    color: #ffffff;
}
.site-search input:hover{
    background-color: #212a3a;
}
.site-search input:focus {     
    background-color:#ffffff;
    outline: none;
}
.site-search svg{
    position: absolute;
    top: -51px;
    left: 677px;
    fill:#ffffff;
    opacity: .3;
}
.site-search input:hover + button svg{
    opacity: 1;
}
.site-search input:focus + button svg{
    fill: #ee3643;
    opacity: 1;
}
.site-search input:focus + button svg:active{
    fill: #ee3643;
    opacity: 1;
}
.markers,
.cart{
	width: 150px;
    height: 42px;
}
.markers:hover,
.markers:focus,
.cart:hover,
.cart:focus{
    background-color: #212a3a;
}
.markers:hover svg,
.markers:focus svg,
.cart:hover svg,
.cart:focus svg{
    opacity: 1;
}
.markers:active,
.cart:active{
	background-color: #161d29;
}
.markers a,
.cart a{
    display:block;
    padding-top:12px;
    text-align: center;
}
.markers a:active,
.cart a:active{
    line-height: 1.06;
    color: rgba(255, 255, 255, 0.6);
}
.markers a:active svg,
.cart a:active svg{
    opacity: .5;
}
.markers svg,
.cart svg{
    opacity: .3;
}
.checkout {
	width: 150px;
    height: 42px;
	background-color: #63a63e;
}
.checkout a{
	display:block;
	padding:14px 22px 10px 20px;
	width: 108px;
    line-height: 1.06;
}
.checkout:hover,
.checkout:focus {
	background-color: #5fbb2d;
}
.checkout:active{
	background-color: #518534;
}
.checkout:active a{
	color: rgba(255, 255, 255, 0.5);

}
/*Конец верхнего меню*/
/*Средний блок хедера*/
.middle-header{
    display: flex;
    justify-content: center;
    max-width: 940px;
    margin:0 auto 46px;
}
.h1-index {
	font-weight:normal;
	max-width: 196px;
	font-size:16px;
	color:#ee3643;
	font-style: italic;
	line-height: 1.44;
    margin:0 71px 0 0; 
}
.phone {
    width: 270px;
    height: 45px;
    border: solid 3px #ffffff;
}
.phone img {
	width: 19px;
    height: 19px;
	padding-top:13px;
	padding-left:15px;

}
.phone a{
	position: relative;
	left: 40px;
    width: 144px;
    height: 21px;
    font-size: 21px;
    line-height: 1;
    letter-spacing: 0.4px;
    color: #e9292a;
}
.header-contacts{
    margin-right: 69px;
}
.header-address{
  max-width: 250px;
  font-size: 14px;
  line-height: 1.71;
  color: #32425c;
  font-style: normal;
  text-align: center;
  display:inline;
  margin-top:10px;
}
.account-actions{
    display: inline;
}
.login{
	line-height: 1;
	width: 121px;
    height: 45px;
    background-color: #ffffff;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 5px;
}
.login a{
	display: block;
	padding-top: 14px;
	padding-left: 14px;
	padding-bottom: 12px;
}
.login a svg{
	stroke: #c5c5c5;
	fill: #c5c5c5;
}
.login p{
	font-size: 21px;
	display:inline;
	margin-left:14px; 
}
.login a:hover,
.login a:focus,
.registration a:hover,
.registration a:focus{
    color:#ee3643;
}
.login a:hover svg,
.login a:focus svg{
	stroke:inherit;
	fill:inherit;
}
.registration{
	line-height: 1;
	width: 150px;
    height: 45px;
    background-color: #ffffff;
    display: inline-block;
}
.registration a{
    display: block;
	padding:14px 0 11px 25px;
	font-size: 21px;
}
.login a:active,
.registration a:active{
	stroke: #c5c5c5;
	fill: #c5c5c5;
    line-height: 1;
    color: rgba(0, 0, 0, 0.3);
}
/*Конец среднего блока хедера*/
/*Навигационное меню*/
.site-navigation{
	margin:0 auto;
	padding: 0 10px;  
    box-shadow: inset 0px -5px 0 0 #293449;
    background-color: #32425c;
    display: flex;
    justify-content: center;
    max-width: 940px;
    height: 60px;	
    line-height: 1;
}
.site-navigation li:active{
	opacity: 0.5;
}

.site-navigation a{
	display: block;
	padding:21px 20px;
}
.site-navigation a:hover{
	background-color: #293449;
}
.site-navigation a:focus{
	color:rgba(255,255,255, .5);
	background-color:#1d2739;
}
/*Конец навигационного меню*/
/*Main*/
.bottom-main-container{
    display: flex;
    justify-content: space-between;
    max-width: 940px;
    margin:82px auto 0;
}
.about-us{
	color:#000000;
    margin:0 120px 86px 0;
    max-width:519px;
}
.about-us h2{
    max-width: 310px;
    font-size: 30px;
    font-weight: normal;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
}
.about-us p{
    font-family: PT Sans;
    margin: 0px;
    font-size: 13px;
    line-height: 1.85;
}
.about-us p:first-of-type{
	padding-top:38px;
    max-width: 519px;
}
.about-us p:last-of-type{
	padding-top: 36px;
	max-width: 386px;
	margin-bottom: 31px;
}
.transport-companies{
    margin:0;
	max-height: none;width: 386px;
}
.transport-companies li{
	padding-left: 38px;
	position: relative;
	font-size: 18px;
    line-height: 1.11;
    margin-bottom:24px;
}
.transport-companies li::before{
	position: absolute;
	top: 5px;
	left: 0;
	width: 25px;
	height: 2px;
	background-color: #ee3643;
	content: '';
}
.more-information{
	width: 220px;
    height: 38px;
    background-color: #ee3643;
    margin-top: 37px;
}
.more-information a{
	display: block;
	padding: 12px 39px 8px 41px;
	width: 140px;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}
.more-information:hover,
.more-information:focus{
	background-color: #ca2c37;
}
.more-information:active{
	background-color: #ba2732;
}
.site-contacts{
	color:#000000;
    margin-bottom:86px;
}
.site-contacts h2{
	width: 120px;
    font-size: 30px;
    font-weight: normal;
    line-height: 1;
    text-transform: uppercase;
    margin:0; 
}
.site-contacts p{
	width: 179px;
    font-family: PT Sans;
    font-size: 13px;
    line-height: 1.85;
    padding-top: 39px;
    margin:0;   
}
.feedback-link a{
	display: block;
	padding:12px 59px 8px 63px;
	width: 178px;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}
.site-contacts img{
    margin-top:36px;
}
.feedback-link{
	width: 300px;
    height: 38px;
    background-color: #ee3643;
    margin-top:50px;
}
.feedback-link:hover,
.feedback-link:focus{
	background-color: #ca2c37;
}
.feedback-link:active{
	background-color: #ba2732;
}
.form-for-msg{
	display:none;
}
/*Конец main*/
/*Начало футера*/
/*Верхняя часть*/
.main-footer{
	margin-top:86px;
    height: 300px;
    background-color: #32425c;
}
.top-footer{
    display:flex;
    max-width: 940px; 
	margin:0 auto 53px;
}
.footer-logo{
	display: inline-block;
	margin: 0;
	max-width: 220px;
    height: 68px;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    background-color: #ee3643;
}
.footer-logo img{
	padding: 20px 41px 25px 41px;
}
.footer-address{
	color:#ffffff;
	font-style: normal;
	max-width: 322px;
	margin-top:32px;
}
.phone-footer{
	color:#ffffff;
	max-width: 123px;
}
.footer-navigation{
    display: flex;
    flex-direction:column;
    flex-grow: 1;
}
.footer-navigation a:hover,
.footer-navigation a:focus,
.phone-footer:hover,
.phone-footer:focus{
    text-decoration: underline;
}
.footer-navigation a:active,
.phone-footer:active{
	opacity: 0.5;
	text-decoration:none;
}
.company-navigation,
.product-navigation{
    display: flex;
    justify-content:space-between;
}
.company-navigation{
    margin:42px 0 0 71px;
}
.product-navigation{
    margin:45px 0 0 91px;
}
/*Конец верхней части*/
/* Начало нижней части*/
.bottom-footer{
    background-color:#293449;
}
.bottom-footer-container{
    height: 107px;
    display:flex;
    max-width: 940px;
    margin:0 auto;
    justify-content: space-between;
    align-items: center;    
}
.rights{
	display: block;
	width: 228px;
    height: 33px;
    font-size: 16px;
    line-height: 1.13;
}
.rights h2{
    margin: 0;
	font-size: 16px;
    font-weight: normal;
    line-height: 1.13;
}
.vk-link,
.facebook-link,
.instagram-link{
	width: 42px;
    height: 42px;
    background-color: #212a3a;
    border-radius: 50%;
}
.vk-link a{
	display: block;
	width: 26px;
    height: 26px;
	position: relative;
	top:13px;
	left: 8px;
}
.facebook-link a{
    display: block;
    width: 12px;
    height: 22px;
	position: relative;
	top:10px;
	left: 15px;
}
.instagram-link a{
	display: block;
	width: 21px;
    height: 21px;
	position: relative;
	top: 10px;
	left: 10px;
}
.social-links{
    display: flex;
}
.vk-link:hover,
.facebook-link:hover,
.instagram-link:hover,
.vk-link:focus,
.facebook-link:focus,
.instagram-link:focus,
.vk-link:active,
.facebook-link:active,
.instagram-link:active{
    background-color: #ee3643;
}
.feedback{
    display: flex;
}
.mail-footer{
    margin-right:53px; 
}
.feedback a{
	display:block;
}
.feedback a:hover,
.feedback a:focus{
	text-decoration: underline;
}
.feedback a:active{
	color: #ee3643;
	text-decoration: none;
}
.feedback p{
    display: inline;
}
.feedback p:first-of-type{
	width: 135px;
    height: 32px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: left;
}
.feedback p:last-of-type{
	width: 96px;
    height: 34px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: left;
}
/*Конец футера*/
/*Дополнения к catalog.html*/
/*catalog хедер*/
.account-ui .user-name{
	display: inline;
	color:#000000;
	width: 183px;
    height: 20px;
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    position: relative;
    left: 8px;
    top: 2px;
}
.account-container a{
	position: relative;
	top:11px;
}
.account-container{
	width: 299px;
    height: 45px;
    background-color: #ffffff;
}
.account-container a:first-of-type{
	left:13px;
}
.account-container a:last-of-type{
	left: 45px;
}
.account-container .user-icon{
	position: relative;
	top:3px;
	width: 20px;
    height: 18px;
    fill: #c5c5c5;
}
.account-container .logout-icon{
	position: relative;
	top:3px;
	width: 20px;
    height: 17px;
    fill: #c5c5c5;
}
.account-link:focus svg,
.account-link:hover svg{
    fill: inherit;
}
.account-link:active .user-name{
    opacity: .3;
}
.account-link:active svg{
    fill: #c5c5c5;
}
.logout-link:hover svg,
.logout-link:focus svg{
    fill: inherit;
}
.logout-link:active svg{
    fill: #c5c5c5;
}
.user-interface{
    display: flex;
    margin:6px 0 0 0;
}
.user-interface a{
    color: #32425c;
    text-decoration: underline;
}
.user-interface a:hover,
.user-interface a:focus{
	color: #ee3643;
}
.user-interface a:active{
	color:rgba(50, 66, 92, 0.3);
}
.my-orders{
    margin-right:32px;
}
.personal-area{
    position: relative;
}
.personal-area::before{
    width: 5px;
    height: 5px;
    background-color: #32425c;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: -17px;
    content: '';
}
/*Конец хедер catalog*/
/*Начало main catalog*/
.main-site{
	color:#000000;
    max-width:940px;
    margin: 0 auto;
}
.container-of-product{  
    height: 89px;
    background-color: #f2f6f8;
}
.name-of-product{
    font-size: 30px;
    font-weight: normal;
    line-height: 1;
    color: #32425c;
	text-transform: uppercase;
	padding:32px 740px 26px 30px;
	margin: 0;
}
.name-filter{
    font-family: PT Sans;
    font-weight: bold;
    line-height: 1.76;
    text-transform: uppercase;
}
.catalog-navigation {
    display: flex;
    justify-content: space-between;
    max-width: 358px;
    margin:25px 0;
}
.catalog-navigation li{
	text-transform: uppercase;
	color:#000000;
	font-family: PT Sans;
    font-size: 13px;
    line-height: 1.38;
}
.catalog-navigation li + li::before{
    width: 10px;
    height: 10px;
    position: relative;
    left: -12px;
    top: -2px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #c5c9d1;
    border-width: 1px 1px 0 0;
    transform: rotate(45deg);
    margin: 0 5px -1px 0;
    content: '';
}
.filters{
	width:220px;
}
.form-filter label{
	position: relative;
	display: block;
	margin-left: 35px;
}
input[type="checkbox"],
input[type="radio"]{
	display: none;
}
input[type="checkbox"] + label,
input[type="radio"] + label{
	text-transform: uppercase;
	cursor:pointer;
    font-family: PT Sans;
    font-size: 15px;
    line-height: 1.33;
    margin-bottom:29px;
    display: table;
}
input[type="checkbox"]:checked + label::after{
    position:absolute;
    top:-10px;
	left: -23px;
    transform:rotate(45deg);
    height:17px;
    width:7px;
    background-color:rgba(0,0,0,0);
    box-shadow: 2px 2px 0 1px #000000,
    inset -1px -1px 0 1px #ffffff,
    3px 3px 0 1px #ffffff;
    content:'';
}
input[type="checkbox"] + label::before{
    position:absolute;
    top:-4px;
	left: -35px;
    height: 19px;
    width: 19px;
    border: 2px solid #000000;
    border-radius:2px;
    content:'';
}

input[type="radio"]:checked + label::before{
	position:absolute;
	top:-4px;
	left: -35px;
    height: 17px;
    width: 17px;
    border: 4px solid #000000;
    border-radius: 50%;
    background-color: #000000;
    box-shadow: inset 0px 0px 0 4.5px #ffffff;
    content:'';
}
input[type="radio"]:not(:checked) + label::before{
	position:absolute;
	top:-4px;
	left: -35px;
    height: 17px;
    width: 17px;
    border: 4px solid #000000;
    border-radius: 50%;
    content:'';
}
.form-filter button{
	width: 140px;
    height: 38px;
    border: solid 1px #e5e5e5;
    background-color:#ffffff;
    font-family: PT Sans;
    font-size: 13px;
    line-height: 1.38;
    text-transform: uppercase;
}
.form-filter button:hover,
.form-filter button:focus{
	border-color: #bdc6ca;
}
.form-filter button:active{
	border: solid 1px #ee3643;
}
.form-filter h3{
	border-top: 1px solid #e5e5e5;

}
.actions-with-item{
	display: none;
}
.filter-catalog-container{
    display: flex;
}
.catalog{
    max-width:940px;
}
.catalog-items{
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    padding:0;
    margin:20px 0 0 20px    ;
}
.catalog-items li{
	position: relative;
    width: 218px;
    height: 316px;
    border: solid 1px #e5e5e5;
    margin-bottom: 10px;
    margin-right: 20px;
}
.catalog-items li:nth-child(3n){
    margin-right:0;
}
.catalog-items li:hover,
.catalog-items li:focus{
	box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.catalog-items img:last-of-type{
	width: 218px;
    height: 170px;
}
.name-of-item{
    font-family: PT Sans;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.11;
    text-align: center;
    margin: 0;
    padding: 6px 33px 12px 32px;
}
.old-price del{
	display: block;
    font-family: PT Sans;
    font-weight: bold;
    line-height: 1.06;
    text-align: center;
    color: #999999;
    padding: 0 75px 10px 78px;
}
.new-price-container{
	width: 141px;
    height: 38px;
    background-image:url(../img/red-button.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left:43px;
}
.catalog-items li:nth-child(3n) .new-price-container{
    margin-top:28px;
}
.new-price{
	display: block;
	width: 65px;
    height: 12px;
    font-family:PT Sans;
    font-weight: bold;
    line-height: 1.06;
    text-align: center;
    padding: 11px 0 0 36px;
    color:#ffffff;
}
.new-flag{
	position:absolute;
    left: 158px;
	width: 60px;
    height: 59px;
}


.popup-adding-to-cart{
	display: none;
}